<div class="message">
	<div class="messageinfo">
		<span class="time"><? time ?></span><br />
		<span class="server"><? server ?></span>
	</div>
	
	<div class="icon"><img src="<? icon ?>" width="32" height="32" alt="" /></div>

	<div class="messagebody">
		<span class="nick <? direction ?>"><? nick ?></span>

		<br />
		<br />
		
		<div class="messagecontent"><? body ?></div>
	</div>
</div>
