
body {
	font: normal <? fontsize ?> "<? fontname ?>", sans-serif;
	background-color: <? backgroundcolor ?>;
	background: <? backgroundcolor ?> url(../img/scanlines-bg.png) repeat;
	color: <? textcolor ?>;
	text-shadow: 0px 0px 3px <? textcolor ?>;
}

a {
	color: yellow;
	text-shadow: 0px 0px 3px yellow;
}

div.post {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted green;
}

img.postunread { margin-left: 6px; }

div.postheader { 
	font: normal 12px "Helvetica", sans-serif; 
	background-color: green;
	text-shadow: 0px 0px 3px white;
	color: white;
}

span.postheadertitle {
	font-weight: bold;
	color: gray;
	text-align: right;
	vertical-align: top;
	float: left;
	width: 6em;
	padding-right: 0.5em;
}

div.posticon { float: right; }

div.postbody {
	margin: 10px 0 10px 0;
	padding-top: 10px;
	border-bottom: 1px dotted green;
	clear: both;
}

div.postbuttons {
	text-align: right;
}

input.postbutton {
	font: normal 10px "Helvetica", sans-serif;
}

blockquote {
	margin: 0px 0px 0px 15px;
	padding: 8px;
	border: 1px solid #bfbfbf;
	background-color: #e8e8e8;
}

pre { margin: 0px; }

div.center { text-align: center; };
